.COsection__confirmButton
{
    color:white;
    background-color: #fbb117;
    font-size: 24px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #fbb117;
    transition-duration: 0.4s;
}

.COsection__confirmButton:hover
{
    color:#fbb117;
    background-color: white;
}

.COsection_sendOrderButton
{
    width: 100%;
    color:#999999;
    background-color: #cccccc;
    font-size: 20px;
    padding: 15px 80px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #cccccc;
    transition-duration: 0.4s;
}

.COsection_sendOrderButton:hover
{
    color:#cccccc;
    background-color: white;
}

/* @media screen and (min-width: 801px)  {
    .item{
        width: 5rem;
    }
} */